@import 'variables/variables';

* {
  box-sizing: border-box;
}

// Improved rendering for font
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

// Add fonts here
h1, h2, h3, h4, h5, h6 {}
p, a {}

// Font sizes
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
a {}
p {}

// Image scaling
img {
  height: auto;
  max-width: 100%;
}

// Standard elements
main {
  max-width: $main-width;
  position: relative;
  width: 100vw;
  margin: 0 auto;
}

section {
  max-width: $main-width;
  position: relative;
  width: 100vw;
  margin: 0 auto;
}

div {}

// Classes
.container {
  max-width: $main-width;
  margin: 0 auto;
}

.d-hidden {
  @media screen and (min-width: 767px) {
    display: none;
  }
}

.m-hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

// Add code after this
