// Basic colors
$black: #000;
$white: #FFF;
$green: #B2C935;
$orange: #FF9800;
$red: #e23636;
$pink: #DD1692;
$blue: #0402ff;
$yellow: #faff00;
$purple: #bc1dff;




// Shaded colors
$input: #EFEFEF;
$border-light-grey: #E7E7E7;
$light-grey: #9B9B9B;
$border-footer-input: #686868;
$grey: #565656;
$border-grey: #353535;
$quick-border: #2B2B2B;
$body-background: #282828;
$input-color: #212121;
$dark-grey: #202020;
$darker-grey: #171717;
